<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.loquiquest.speechtotext">
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <application>
        <meta-data
            android:name="org.godotengine.plugin.v2.SpeechToText"
            android:value="com.loquiquest.speechtotext.SpeechToTextPlugin" />
    </application>
</manifest>
